# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
dist/
.env
*.log
.DS_Store

# backend
backend/prisma/migrations
backend/prisma/migrations/migration_lock.toml

#IDE settings
.idea
.vscode
.claude
.cursor

# testing
/coverage

# next.js
.next
/out/

# production
/build

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/*.db
prisma/*.db-journal

# AI agents
.claude
.cursor

TODO.md